<div class="restaurants">
<h1>Opening Restaurants</h1>
</div>
<% @restaurants.each do |restaurant| %>
  <div class="restaurants">
    <img src="<%= restaurant.img_url %>"/>
      <p>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <em><%= restaurant.category %></em>
      </p>
  </div>
<% end  %>
