body {
 font-family: Helvetica, sans-serif;
}

#container {
 position: relative;
}

#header {
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  height: 144px;
  padding: 40px;
  position: relative;
}

#sidebar {
  position: fixed;
  margin-top: 50px;
  width: 15%;
  height: 100%;
  float: left;
  border-top: medium dotted black;
}

.sidebar-menu {
  list-style: none;
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  padding: 15px;
}

#content {
  margin-left: 22%;
  width: 70%;
  padding: 0 0 100 0px;
  padding-bottom: 100px;
}

#contents h1 {
  padding: 20px;
}

#footer {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* LINKS */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #77797A;
}

/* NAVIGATION */
nav {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 10px;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}

.restaurants {
  /*margin: 10px;*/
  border-bottom: medium dotted black;
  /*background-color: #D7DADB;*/
  padding: 20px;
}

.restaurants img {
  width: 80%;
}

.description {
  width: 75%;
  padding: 20px;
  font-size: 14px;
  line-height: 2em;
}

.comments {
  width: 75%;
  padding: 20px;
  font-size: 14px;
}
